ColumnLimit: 100
NamespaceIndentation: All
BreakBeforeBraces: Custom
BraceWrapping:
    AfterNamespace: true
AlignOperands: true
AlignConsecutiveAssignments: AcrossEmptyLines
AlignConsecutiveMacros: AcrossEmptyLines