[submodule "thirdparty/glew"]
	path = thirdparty/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/headers"]
	path = thirdparty/headers
	url = git@github.com:PranavBahuguna/TritiumEngine-ThirdPartyHeaders.git
